
.product-list-item__account-name {
  font-size: 0.9rem;
}

.product-list-item__colors {
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .product-list-item__names {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .product-list-item__colors {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
