.login-page {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 64px);
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem 2rem;
  width: 95%;
  max-width: 360px;
}

.login-form button {
  margin: 1.5rem auto 0.5rem;;
}

.login-form__error {
  color: #F44336;
  font-size: 0.8rem;
  text-align: center;
}
