.App {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.snackbar {
  position: absolute;
}

.snackbar-content {
  width: 90%;
  max-width: 200px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #efefef;
}

.search-inputs {
  flex: 1;
}

.search-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
