.plate-form__section-title,
.plate-form__section-content {
  padding: .75rem;
}

.plate-form__section-title {
  background: #efefef;
  margin-bottom: .5rem;
}

.plate-form__product {
  margin-left: .5rem;
  margin-bottom: .5rem;
}

.plate-form__product_search_result {
  height: 8rem;
  overflow-y: auto;
}

.plate-form__product_search_result > * {
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 2rem;
}

.plate-form__product_search_result > *:first-child {
  border-top: 1px solid #cdcdcd;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.plate-form__product_search_result > *:last-child {
  border-bottom: 1px solid #cdcdcd;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.plate-form__product_search_result > *:hover {
  background: #dedede;
}
