.product-review__message,
.product-review__title,
.product-review__row,
.product-review__name,
.product-review__value {
  padding: 0.5rem;
  margin: 0;
}

.product-review__message {
  text-align: center;
}

.product-review__title {
  margin-top: .5rem;
}

.product-review__row {
  align-items: center;
  display: flex;
}

.product-review__name {
  padding: 0 0.5rem;
  width: 30%;
}

.product-review__value {
  padding: 0 0.5rem;
  font-weight: bold;
  width: 70%;
}

.product-review__image-container {
  max-height: 80%;
  margin: auto;
}

.product-review__image {
  width: 100%;
  height: auto;
}
