.order-list-item {
  flex-direction: column;
  flex-wrap: wrap;
}

.completed {
  background: #dedede;
  color: #ababab;
}

.order-list-item__checkbox {
  align-self: flex-start;
}

.order-list-item__buttons {
  align-self: flex-end;
}

.order-list-item__delivery-remark-wrapper,
.order-list-item__dates-wrapper,
.order-list-item__account-name-wrapper,
.order-list-item__product-name-wrapper,
.order-list-item__product-size-wrapper,
.order-list-item__print-info-wrapper,
.order-list-item__quantity-wrapper {
  padding: .2rem 0;
}

.order-list-item__delivery-remark {
  background: #f50057;
  border-radius: .2rem;
  color: white;
  font-size: .75rem;
  padding: .2rem;
}

.order-list-item__delivery-remark:nth-child(2) {
  margin-left: .5rem;
}

.order-list-item__dates-wrapper,
.order-list-item__quantity-wrapper {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.order-list-item__dates,
.order-list-item__quantity-weight {
  font-size: .8rem;
}

.order-list-item__account-name,
.order-list-item__print-info {
  font-size: .9rem;
}

.order-list-item__quantity-title {
  font-size: .75rem;
}

@media (min-width: 960px) {
  .order-list-item {
    align-items: center;
    flex-direction: row;
  }

  .order-list-item__checkbox,
  .order-list-item__buttons {
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .order-list-item__dates-wrapper,
  .order-list-item__quantity-wrapper {
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
