.account-list-item__details {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .account-list-item__details {
    align-items: center;
    flex-direction: row;
  }
}
