.list-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cdcdcd;
  padding: .5rem;
}

.list-header__selected {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-header__button-group {
  border-radius: 24px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  background: #efefef;
  display: flex;
}

.list-header__limit {
  align-items: center;
  display: flex;
}

.paginator {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.paginator__message {
  font-size: .8rem;
  margin-right: 1rem;
}

.paginator__message span {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .paginator {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-header__button-group {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .list-header__selected {
    justify-content: flex-start;
  }

  .list-header__limit {
    justify-content: flex-end;
  }
}
