.list-body {
  list-style: none;
  padding: 0.25rem;
  margin: 0;
}

.list-body__item {
  align-items: center;
  display: flex;
  border-bottom: 0.5px solid #cdcdcd;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.list-body__checkbox {
}

.list-body__details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list-body__title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.list-body__button-group {
  display: flex;
  flex-direction: column;
}
